<h1> TRIPS! </h1> 
<hr />

<% @trips.each do |trip| %>
  <div class='card center'>
    <h3>
      <%= link_to trip.name, trip_path(trip) %>
    </h3>

  </div>
<% end %>

<hr />

<button type='button'>
  <%= link_to 'Add a Trip', new_trip_path %>
</button>
